<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mohd Sameer - My Blog Posts</title>
    <meta name="description" content="Hello, Welcome to the blog, All the things I learn related to coding and design I put it here.">
    <link rel="icon" type="image/x-icon" href="/gopher.svg">
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <style>
        .masonry {
            column-count: 2;
        }
        @media (max-width: 768px) {
            .masonry {
                column-count: 1;
            }
        } 
        </style>
    <script>
    tailwind.config = {
        theme: {
            fontFamily: {
                sans: [
                    '"Playfair Display", sans-serif',
                ]
            }
        }
    }
  </script>
</head>

<body class="accent-zinc flex flex-col min-h-screen">
    {{ template "navbar_portfolio" . }}
    <h1 class="text-4xl text-balance font-bold md:text-5xl lg:text-6xl mt-16 break-words text-center">
        My <span class="text-zinc-500">design_portfolio</span>
    </h1>
    <p class="text-center text-balance mx-4 mt-4">I am Excellent Figma, Photoshop, Illustrator, Indesign, After Effects...</p>
    <h2 class="text-2xl text-balance font-bold md:text-3xl lg:text-4xl mt-16 break-words text-center">
       Images 
        </h2>
        <hr class="my-4">
    <div class="mx-auto masonry max-w-screen-xl space-y-4 p-4">
        {{template "work_portfolio" . }}
    </div>
    <h2 class="text-2xl text-balance font-bold md:text-3xl lg:text-4xl mt-16 break-words text-center">
        Videos
        </h2>
        <hr class="my-4">
    <div class="mx-auto masonry max-w-screen-xl space-y-4 p-4">
    {{template "work_portfolio_video" .}}
    </div>
    {{ template "footer" . }}
    <script>
        function vol(event, id) {
            const video = document.getElementById("video"+id);
            const button = document.getElementById("vol"+id).querySelector('span');
            event.preventDefault();
        console.log(video.muted)
        if (video.muted) {
            video.muted = false;
            button.textContent = "ON"
        } else {
            video.muted = true;
            button.textContent = "OFF"
        }
    };
    </script>
</body>

</html>
