<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mohd Sameer - Blog Post | {{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="/gopher.svg">
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
</head>

<body class="flex flex-col min-h-screen">
    {{ template "navbar" . }}
    <article
        class="p-8 sm:p-20 prose prose-{{.PrimaryColor}} mx-auto my-8 md:my-20 shadow-none lg:shadow-2xl lg:shadow-{{.PrimaryColor}}-500/30 rounded-md border-2 border-white lg:border-{{.PrimaryColor}}-200 lg:prose-lg max-w-4xl">
        <h1 class="text-wrap text-pretty text-{{.PrimaryColor}}-500 break-all">{{ .Title }}</h1>
        {{ .Content }}
    </article>
    {{ template "footer" . }}
</body>

</html>
