<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mohd Sameer - Blog Post | {{ .Metadata.Title }}</title>
    <meta name="description" content="{{ .Metadata.Intro }}">
    <link rel="icon" type="image/x-icon" href="/gopher.svg">
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script>
    tailwind.config = {
        theme: {
            fontFamily: {
                sans: [
                    '"Playfair Display", sans-serif',
                ]
            }
        }
    }
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
  <script>hljs.highlightAll();</script>

</head>

<body class="flex flex-col min-h-screen">
    {{ template "navbar" . }}
    <article
        class="w-full p-8 sm:p-20 prose-headings:text-balance prose-p:text-balance prose
        prose-{{.PrimaryColor}} mx-auto my-8 md:my-20 shadow-none lg:shadow-2xl
        lg:shadow-{{.PrimaryColor}}-500/30 rounded-md border-2 border-white
        lg:border-{{.PrimaryColor}}-200 lg:prose-lg prose-hr:my-10 max-w-4xl">
        <h3 class="font-bold text-{{.PrimaryColor}}-500">Date: {{ .Metadata.Date }}</h3>
        <h1 class="text-{{.PrimaryColor}}-500">{{ .Metadata.Title }}</h1>
        <h4 class="font-bold">By: {{ .Metadata.Author }}</h4>
        <hr>
        {{ .Metadata.Intro }}
        <br>
        {{ .Content }}
    </article>
    {{ template "footer" . }}
</body>

</html>
