{{ define "post_homepage" }}
{{ range .Posts }}
<a class="p-4 group even:shadow-none flex flex-col sm:p-8 border-2 first:col-span-1 first:md:col-span-2 border-{{.PrimaryColor}}-200 rounded-md odd:lg:shadow-2xl shadow-none odd:lg:shadow-{{.PrimaryColor}}-500/20 h-full"
    href="/posts/{{.Slug}}">
    <div class="space-y-4 mb-4">
        <h2 class="group-hover:text-{{.PrimaryColor}}-500 duration-200 font-medium text-2xl lg:text-4xl break-words text-pretty text-wrap">{{
            .Title }}</h2>
        {{ .Content }}
    </div>
    <button onclick="window.location.href='/posts/{{.Slug}}'"
        class="active:text-{{.PrimaryColor}}-500 mt-auto hover:bg-slate-100 bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium flex items-center">
        <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
                fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
        View Post
    </button>
</a>
{{ end }}
{{ end }}
