<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.Title}}</title>
    <script
        src="https://cdn.tailwindcss.com?plugins=typography"></script>
</head>
<body>
    {{template "navbar"}}
        <article class="p-4 sm:p-20 prose prose-slate mx-auto mt-8 shadow-none lg:shadow-2xl rounded-md border-2 border-white lg:border-slate-200 lg:prose-lg max-w-4xl">
            {{.Content}}
        </article>
    {{template "footer"}}
</body>

</html>
